#navTop{
  
    height: 58px;
    width: 100%;
    background-color: #063C4D;
  

}
#navTop>div{
    display: flex;
    justify-content: end;

    gap: 20px;
    margin-right: 80px;
}
#navTop>div>p{
    font-size:  15px;
    line-height: 18px;
    color: #DAE2E3;
}
#navTop>div>p:hover{
    cursor: pointer;
}
#navTop img{
  width: 18px;
  margin-left: 10px;
}
#navTop>div>div{
    display: flex;
    margin-top: 0px;
}
#navTop>div>div:hover{
cursor: pointer;
}
#navTop span{
    display: block;
    font-size:  15px;
    line-height: 18px;
    color: #DAE2E3;
    margin-top: 15px;
    
}

