body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Circular Std', sans-serif;
    background-color: #063C4D;
    box-sizing: border-box;
}

/* Prospect Section */


/* Prospect Div */
  #prosPect{
    width: 100%;
    display: flex;
    height: 566px;
   
    margin-top: 160px;
    justify-content: space-around;
    gap: 80px;
  }
  #prosPect>div:first-child{
    width: 495px;
    height: 526px;
   color: white;
   margin-left: 40px;
  }
  #prosPect>div:first-child>h1{

    height: 75px;
    font-size: 62px;
    font-weight: 500;

  }
  #prosPect>div:first-child>#leadText{
     height: 108px;
     margin-bottom: 10px;
     font-size: 22px;
    line-height: 36px;
  }

  #inputWork{

    height: 60px;
    width: 445px;
    border: 1px solid #DAE2E3;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 35px;
  }
  #inputWork>input{
    height: 60px;
    width: 286px;
    padding: 1px 2px 1px 24px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 30px;
    border: none;
  }
  #inputWork>a{
  text-decoration: none;
  color: #063C4D;
  padding: 20px 40px;
  border-radius: 30px;
  background-color: #ffd265;
  font-size: 18px;

  }

  #inputWork>a:hover{
    background-color: #efb735;
    
  }

  #inputWork+p{
  
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #8D98A6;
    margin-left: 40px;
  }
  #inputWork+p>span{
    
    color:   #1E9CCE;
  }
  #prosPect>div:first-child>#companayImg{
    display: grid;
    width: 495px;
    margin-top: 45px;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    column-gap: 20px;
  
  }
  #prosPect>div:first-child>#companayImg>img{
    width: 75%;

  }

  #pros{

    background: url(https://assets.website-files.com/60819f9be381394642b5659e/628e636de30eb30ee9fe126f_leadiq-background-hero-dark.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    height: 95vh;
    
    margin-left: 40px;
    margin-top: -5px;
  }

  #pros>div:first-child{
    position: absolute;
    width:315px ;
    height: 521px;
    margin-top: -5px;
    right: 400px;
    
    z-index: 2;
  }
  #pros>div:first-child>img{
    width: 100%;
  }
  #pros>div:last-child{
    position: relative;
    width:662px ;
    height: 586px;
    left: 113px;
    top: 8px;
  }
  #pros>div:last-child>img{
    width: 100%;
  }

  #salesSection{

    height: 800.203px;
width: 99.8%;
padding: 140px 0px;
background: url(https://assets.website-files.com/60819f9be381394642b5659e/6081b42dfc784618c92acce7_leadiq-activities-background-2.svg);
background-repeat: no-repeat;
height: 90vh;
background-position: 98%;
background-color: white;
margin: auto;

margin-top: 150px;
  }
  /* #back2{
    url(https://assets.website-files.com/60819f9be381394642b5659e/6081b42d78a93f84724ea09f_leadiq-activities-background-1.svg);

  } */
  #title{
    height: 108px;
    width: 650px;
    margin-bottom: 10px;
    font-size: 38px;
    font-weight: 500;
    color: #063C4D;
    margin: auto;
    text-align: center;
  }

  #saleMid{
   height : 590px;
width: 95%;
margin: auto;
margin-top: 55px;


display: flex;
gap: 50px;
  }

  #leadAllow{
    height : 590px;
    width: 430px;
  
    margin-left: 20px;
   
  }
  #leadAllow>h3{
    height : 34pxpx;
    width: 238px;
    font-size: 24px;
    font-weight: 500;
    color: #063C4D;
    
    margin-top: 80px;
  }
  #leadAllow>div{
    height: 64px;
    width: 430px;
    margin-top: 30px;
    font-size: 20px;
    color: #576F76;
   display: flex;
   gap: 5px;
   
  }
  #leadAllow>div:nth-child(1){

    width: 268px;
   
    
  }

  #leadAllow>div>div{
    height: 42px;
    width: 42px;
    
   
padding: 11px;
  }
  /* border: 1px solid #DAE2E3; */
  /* #saleMid>div>div:nth-child(1)>p{
    
    border: 1px solid blue;
padding: 11px;
  } */

  #leadAllow>div:last-child{
    padding: 20px 40px;
    border-radius: 30px;
   width: 132px;
   height: 20px;
    font-size: 18px;
    font-weight:500;
   
    background-color: #ffd265;
    color: #063C4D;
    
    }

    #leadAllow>div:last-child:hover{
      background-color: #efb735;
      transition: 0.5s;
      cursor: pointer;
  }
  #back2{
    height: 593.297px;
width: 715.625px;

position: relative;
top: -40px;
left: 25px;

background:  url(https://assets.website-files.com/60819f9be381394642b5659e/6081b42d78a93f84724ea09f_leadiq-activities-background-1.svg);
background-repeat: no-repeat;
height: 145vh;
background-position: 6.5%;
  }
  #back2>img{
    width: 100%;

  }

  #locatingContact{
    width:100% ;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);

  }

  #contant{
    width: 80%;
    margin-top: 200px;
    margin-left: 70px;
    margin-bottom: 160px;
  }
 /* head */
  #contant>div:first-child{
    font-size: 38px;
    font-weight: 500;
    line-height: 54px;
    width: 100%;
    color: white;
  }
  /* mid */
  #contant>div:nth-child(2){
    font-size: 18px;
    color: #DAE2E3;
    line-height: 30px;
    width: 60%;
    margin-bottom: 40px;
  }
/* Buttons  */
  #contant>div:last-child{
    display: flex;
    gap: 20px;
  }
  #contant>div:last-child>a{
      text-decoration: none;
      color: #063C4D;
      padding: 20px 35px;
      font-size: 18px;
      border-radius: 30px;
  }
  .base-btn{
    background-color: #ffd265;
    border: none;
  }
  .ghost-btn{
    border: .2px solid rgb(215,215,215);
    background-color: white;
  }

  .base-btn:hover{
    background-color: #efb735;
    transition: 0.5s;
  }
  .ghost-btn:hover{
    background-color: #fdc84d;
    transition: 0.5s;
  }

  /* Ice Burg */
  #iceBurg{
    position: absolute;
    margin-top: 95px;
    left: 48%;
  }

  /* Lead Resource */

  #parentResourceDiv{
    width: 100%;
    background-color: white;
    border: 1px solid red;
    
  }

  #leadResource{
    width: 90%;
    margin-left: 38px;
    margin-right: 38px;
    border: 1px solid red;
    margin-top: 130px;
    margin-bottom: 60px;
  }

  /* lead resource heading */

  #leadResource>h2{
        font-size: 38px;
        font-weight: 500;
        line-height: 54px;
        width: 100%;
        margin-bottom: 10px;
        color: #063C4D;
        text-align: center;
  }

  #leadResource>div{
    margin-top: 40px;
  }
  #leadResource>div:last-child{
    margin-bottom: 60px;
  }
  #leadResource>div>img{
    width: 100%;
  }

  #industryLeader{
    background: url(https://assets.website-files.com/60819f9be381394642b5659e/6081c44063e24051a3c11e4d_leadiq-leader-background-2.svg),
     url(https://assets.website-files.com/60819f9be381394642b5659e/6081c4401f9db9638f7e83ed_leadiq-leader-background-1.svg);
 
    background-position: 0%,100%,0px,0px;
    background-position-y: top,bottom;
    background-repeat: no-repeat,no-repeat;
    border:1px solid red;
    width: 100%;
    
    background-color: #083341;
    }

    #industryLeader>div{
      width: 62%;
      margin: auto;
      margin-top: 100px;
    
      text-align: center;
      margin-bottom: 130px;
    }
    
#industryLeader>div>h2{
   font-size: 38px;
   font-weight: 500;
   line-height: 54px;
   color: white;
   margin-bottom: 10px;
 width: 100%;
}
#industryLeader>div>div{
 width: 100%;
 margin-top: 30px;
 display: grid;
 grid-template-columns: repeat(5,17%);
 column-gap: 3%;
}

#industryLeader>div>div>div>img{
  width: 100%;
}
/* Start Footer */
#footerParent{
  width: 100%;
  border: 1px solid red;
  background-color: white;
}

#footerContainer{
  width: 91%;
  margin: auto;
  margin-top: 70px;
}
/* Top footer */
#footerContainer>div:first-child{
  display: grid;
  grid-template-columns: repeat(2,48%);
  column-gap: 4%;
  height: auto;
}
/* top footer book demo button */
#footerContainer>div:first-child>div:last-child>a:first-child{
  margin-left: 240px;
}
/* top footer two buttons */
#footerContainer>div:first-child a{
  text-decoration: none;
  color: #063C4D;
  padding: 20px 35px;
  font-size: 18px;
  border-radius: 30px;

}

/* top footer end */

/* first divider section */

.divider{
 width: 100%;
 
 border: 1px solid #DAE2E3;
 margin-top: 100px;
}
/* Footer mid grid section */

#midFooter{

  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 19% 37% 12.5% 25%;
  column-gap: 2%;
}

/* footer mid whyLead section */











