@media all and (min-width:997px) and (max-width:1150px){
   
  #prosPect{
    width: 100%;
    display: flex;
  
   
    margin-top: 160px;
    justify-content: space-evenly;
    gap: 6%;
   
    overflow: hidden;
  }

  #prosPect>div:first-child{
    width: 495px;
    /* width:36% ; */
    height: 526px;
   color: white;
  
  
   position: relative;
   top: 0px;
   left: 56px;
   
  }
      #prosPect>div:first-child>h1{
font-size: 42px;
 
      }
      #prosPect>div:first-child>#leadText{
      
     font-size: 19px;
      
     }
   
     #inputWork{
   
     
       width: 370px;
       border: 1px solid #DAE2E3;
       
       padding: 5px 10px;
       
     }
     
    
     #prosPect>div:first-child>#companayImg{
     width: 450px;
      }

     #prosPect>div:first-child>#companayImg>img{
       width: 75%;
   
     }
   
     #pros{
   height: 85vh; 
        }
       
    
     #pros>div:first-child>img{
       width: 100%;
       margin-left: 50px;
     }
     #pros>div:last-child{
      margin-left: -50px;
      left: 0px;
    width:630px ;
      }

      /* =========SALES SECTION=========== */
      #salesSection{
 width: 100%;
 background-position: 100% 70%;
  background-size:50% ;
      }
      #leadAllow>div>p{
        width: 250px;
      }
      /* #salesSection{

        height: 800.203px;
    width: 99.8%;
    padding: 140px 0px;
    background: url(https://assets.website-files.com/60819f9be381394642b5659e/6081b42dfc784618c92acce7_leadiq-activities-background-2.svg);
    background-repeat: no-repeat;
    
    background-position: 98% 37%;
    background-color: #F4FBFC;
    margin: auto;
    
    margin-top: 150px;
      } */
     
  
  #saleMid{
    height : 590px;
 width: 95%;
 margin: auto;
 margin-top: 55px;
 
 
 display: flex;
 gap: 0px;
   }
#back2{
        
    width: 70%;
    background-position: 6.5% 55%;
}

/* =========Director section======= */

#image-wrap{
  width: 80%;
}
#image-wrap>img{
  width: 90%;
}


    /* ============= LOCATING CONTACT DATA =============== */
   
    #contant{
        width: 80%;
        /* margin-top: 200px; */
       
        margin-bottom: 20px;
      }
  
  
     #iceBurg>img{
        width: 110%;
      }
    
       /* ====================== Clari SECTION =====================  */
       #walkme-section{
     
  background-position: 108% 10%, 53% 85%;
        }


        /* footer */

        #footerContainer>div:first-child{
          display: grid;
          grid-template-columns: repeat(2,48%);
          column-gap: 4%;
          height: 62px;
          align-items: center;
        }
        
        #footerContainer>div:first-child>div:last-child>a:first-child{
          margin-left: 0px;
         
        }
        #footerBottom{
          
          column-gap: 60px;
        
        }
       
}


@media all and (min-width:780px) and (max-width:997px){

    /* ==========Prospect========== */

  #prosPect{
   flex-direction: column;
 }
  
 #pros{
background-position: 100% 0%;
   
margin-left: 120px;
    margin-top: 40px;
  }
  #pros>div:first-child{
  
    width:350px ;
   
    margin-top: 10px;
   left: 0px;
    
   
  }

  /* ==========SALES SECTION=============== */

  #salesSection{
height: auto;
background-position: 90% 58%;
background-color: #F4FBFC;
padding-bottom: 400px;
  }
 
 

  #saleMid{
   height : 837px;
width: 95%;

flex-direction: column;


  }
  
#leadAllow>div{
 
    width: 630px;
  
  }

  #back2{
    
    width: 95%;
    }
    
  #locatingContact{
    width:100% ;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);

  }
  
  #iceBurg{
   position: relative;
    
    left: 10px;
  }

  #contant{
    width: 80%;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 10px;
  }
 /* ============Director section========*/

 #hovering-box{
  display: grid;
  grid-template-columns: .8fr;

 
  grid-template-areas: "b"
                        "a";
}
#image-wrap{

  background-color: #dcf8eec2;

}


    /* ========Clari SECTION======== */

    #walkme-section{
      display: grid;
      grid-template-columns: 1fr ;
      margin-top: 100px;
      gap: 110px;
      justify-content: center;
      align-items: center;
      background-image: url(https://assets.website-files.com/60819f9be381394642b5659e/6081c1b60eb70e424bb5d121_leadiq-case-study-background-2.svg), url(https://assets.website-files.com/60819f9be381394642b5659e/6081c1b6fbae857af2a01631_leadiq-case-study-background-1.svg);
      background-position: 108% 70%, 0% 100%;
      background-repeat: no-repeat;
      margin-bottom: 100px;
  
  }

  /* =========work flow=========== */

  .headings{
   
    width: 80%;
 
  }

  #card-wrapper{
    display: grid;
    grid-template-columns: repeat(2,60%);
    column-gap:-20% ; 
   row-gap: 10px;
  
}
#card-wrapper>.cards:first-child{
 
 left: 20px;
}
#card-wrapper>.cards:nth-child(2){

  right: 80px;
 }
 #card-wrapper>.cards:nth-child(3){
 
  left: 20px;
 }
.cards{
  width: 60%;
  position: relative;
 }
 

 /*===========Footer Section========== */

 #footerContainer>div:first-child{
  display: grid;
  grid-template-columns: repeat(1,48%);
  column-gap: 4%;
  row-gap: 50px;
  height: 62px;
  align-items: center;
}

#footerContainer>div:first-child>div:last-child>a:first-child{
  margin-left: 0px;
 
}
#footerContainer>div:first-child a{
 
  padding: 15px 20px;


}
#midFooter{

  width: 100%;
  margin-top: 70px;

  display: grid;
  grid-template-columns: 19% 23% 12.5% 25%;
  column-gap: 2%;
}
#midfoot2>div:last-child{
  display: grid;
  grid-template-columns: repeat(1,1fr);
 row-gap: 17.5px;
 }
 #footerBottom{
  display: grid;
  grid-template-columns: 10% 31% 10%;
  color: #576F76;
  column-gap: 100px;

}
}


@media all and (min-width:320px) and (max-width:780px){
    


    /* ==========Prospect========== */

    #prosPect{
      flex-direction: column;
      margin-top: 90px;

    }
    
     #prosPect>div:first-child>h1{
      font-size: 42px;
     
    }

    #prosPect>div:first-child>#leadText{
     
      font-size: 20px;
    
   }
   #pros>div:first-child{
  
    width:350px ;
   
    margin-top: 0px;
   left: 0px;
    
   
  }
  #pros>div:last-child{
    position: relative;
    width:662px ;
    height: 586px;
    left: 32%;
    top: 80px;
  }
   
     /* ==========SALES SECTION=============== */
   
     #salesSection{
   height: auto;
   background-position: 90% 58%;
   background-color: #F4FBFC;
   padding-bottom: 400px;
     }
    
    
   
     #saleMid{
      height : 837px;
   width: 95%;
   
   flex-direction: column;
   
   
     }
     
   #leadAllow>div{
    
       width: 630px;
     
     }
   
     #back2{
       
       width: 95%;
       }
       
     #locatingContact{
       width:100% ;
       height: auto;
       display: grid;
       grid-template-columns: repeat(1,1fr);
   
     }
     
     #iceBurg{
      position: relative;
       
       left: 10px;
     }
   
     #contant{
       width: 80%;
       margin-top: 50px;
       margin-left: 70px;
       margin-bottom: 10px;
     }
    /* ============Director section========*/
   
    #hovering-box{
     display: grid;
     grid-template-columns: .8fr;
   
    
     grid-template-areas: "b"
                           "a";
   }
   #image-wrap{
   
     background-color: #dcf8eec2;
   
   }
   
   
       /* ========Clari SECTION======== */
   
       #walkme-section{
         display: grid;
         grid-template-columns: 1fr ;
         margin-top: 100px;
         gap: 110px;
         justify-content: center;
         align-items: center;
         background-image: url(https://assets.website-files.com/60819f9be381394642b5659e/6081c1b60eb70e424bb5d121_leadiq-case-study-background-2.svg), url(https://assets.website-files.com/60819f9be381394642b5659e/6081c1b6fbae857af2a01631_leadiq-case-study-background-1.svg);
         background-position: 108% 70%, 0% 100%;
         background-repeat: no-repeat;
         margin-bottom: 100px;
     
     }
   
     /* =========work flow=========== */
   
     .headings{
      
       width: 80%;
    
     }
   
     #card-wrapper{
       display: grid;
       grid-template-columns: repeat(1,100%);
       column-gap:-20% ; 
      row-gap: 10px;
     
   }
   #card-wrapper>.cards:first-child{
    
    left: 40px;
   }
   #card-wrapper>.cards:nth-child(2){
   
     
    }
    #card-wrapper>.cards:nth-child(3){
    
     left: 20px;
    }
   .cards{
     width: 60%;
     position: relative;
    }
    
   
    /*===========Footer Section========== */
   
    #footerContainer>div:first-child{
     display: grid;
     grid-template-columns: repeat(1,48%);
     column-gap: 4%;
     row-gap: 50px;
     height: 62px;
     align-items: center;
   }
   
   #footerContainer>div:first-child>div:last-child>a:first-child{
     margin-left: 0px;
    
   }
   #footerContainer>div:first-child {
    
  display: grid;
  grid-template-columns: repeat(1,1fr);
  row-gap: 10px;
  
  }
   #footerContainer>div:first-child a{
    display: block;
     padding: 15px 200px;
   
   
   }
   #midFooter{
   
     width: 100%;
     margin-top: 70px;
   
     display: grid;
     grid-template-columns: repeat(2,1fr);
     column-gap: 2%;
   }
   #midfoot2>div:last-child{
     display: grid;
     grid-template-columns: repeat(1,1fr);
    row-gap: 17.5px;
    }
    #footerBottom{
     display: grid;
     grid-template-columns: repeat(1,1fr);
     color: #576F76;
     column-gap: 100px;
   
   }

}